@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");

* {
  margin: 0;
  padding: 0;
  color: rgb(83, 66, 66);
  font-family: "Courier New", Courier, monospace;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;

}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.logo {
  width: 13%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 160%;
  border: 5px solid rgb(121, 77, 13);
  border-radius: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  /* cursor: pointer; */
}

.nav-list {
  width: 54%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-nav-list {
  width: 54%;
  /* background-color: black; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.nav-list li {
  list-style: none;
  padding: 34px 51px;
}
.right-nav-list li {
  list-style: none;
  padding: 34px 51px;
}

.nav-list li a {
  text-decoration: none;
  color: #553535;
  font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}
.nav-list li a:hover {
  text-decoration: none;
  color: brown;
}
.right-nav-list li a {
  text-decoration: none;
  color: #553535;
  font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}
.right-nav-list li a:hover {
  text-decoration: none;
  color: brown;
}

.rightNav {
  /* background-color: wheat; */
  width: 50%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("/images/home-back.jpeg");
  background-size: cover;
  background-blend-mode:luminosity;
}
.bg-product {
  /* background: rgb(236, 236, 236); */
  background: white;
  /* background: rgb(214 214 214); */
  background-size: cover;
  background-blend-mode:luminosity;
}

.firstSection {
  height: 88vh;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  max-width: 68%;
  margin: auto;
  height: 80%;
}

.firstHalf {
  width: 63%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image {
  width: 75%;
  /* object-fit: cover; */
}

.product-image img {
  width: 100%;
  /* border: 2px solid rgb(45 57 98); */
  border-radius: 50px;
  display: block;
  margin: auto;
}

.product-des{
  padding: 15px 0px;
}

.text-big {
  font-size: 44px;
}

.text-small {
  font-size: 21px;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 8px 20px;
  margin: 15px 0px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 18px;
  background: none;
  color: #553535;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.527);
  cursor: pointer;
  color: white;
}

.btn-sm {
  padding: 6px 10px;
  /* vertical-align: middle; */
}

.button-buy{
  display: flex;
  width: 19vw;
  justify-content: space-evenly;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 20%;
}

.burger-top {
  top: 5%;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 5px;
}

.section {
  height: 88vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  margin: auto;
  
}

.bg-tooth{
  background: url(/images/toothbrush.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-cutlery{
  background: url(/images/cutlery.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-learn{
  background: url(/images/lean-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-info{
  background: url(/images/info.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-left {
  flex-direction: row-reverse;
}

.paras {
  padding: 0px 65px;
}
.box-products{
  padding: 0px 65px;
  height: 55vh;
  display: flex;
  justify-content: center;
  width: 19vw;
  align-items: center;
  flex-direction: column;

}
.box-products:hover{
  background: rgb(214 214 214);
  border-radius: 20px;
}
.paras-footer {
  padding: 0px 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer{
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sectionTag {
  font-family: "Fruktur", cursive;
  padding: 16px 0px;
}

.sectionSubtag {
  font-family: "Architects Daughter", cursive;
}

.imgFluid {
  width: 100%;
  border: 2px solid rgb(45 57 98);
  border-radius: 50px;
  display: block;
  margin: auto;
}

.thumbnail {
  width: 90%;
}

.text-right {
  text-align: right;
}

.contact {
  background-color: #f6f5f4;
  height: 50vh;
}

.form {
  max-width: 45%;
  margin: auto;
}

.form-input {
  margin: 15px 0px;
  padding: 5px;
  width: 95%;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 6px;
}

.pad-sm-top {
  padding-top: 20px;
}
.pad-sm-bot {
  padding-bottom: 18px;
}

.btn-submit {
  border: 2px solid black;
  color: black;
  font-family: "Rubik Beastly", cursive;
}

.font-md {
  font-size: 35px;
}
.font-sm {
  font-size: 18px;
}

.foot-font {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.hide{
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 2vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
